
.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(2);
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #000000;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(0, 8, 3, 0.5), rgba(0, 0, 0, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))
}

.gradientContainerTop {
    height: 280px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(54,54,133,1) 68%, rgba(4,4,82,1) 100%);
}

.gradientContainerBottom {
    height: 280px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(54,54,133,1) 68%, rgba(4,4,82,1) 100%);
}

.gradient-bg {
    background-color: #040452;
}
